<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST UPLOAD</title>
</head>
<body>
    <h1>Upload XLSX File</h1>
    <form action="/notes/api/file-upload/demoFU" method="post" enctype="multipart/form-data">
        <label>select file</label><input type="file" name="file" accept=".xlsx">
        <button type="submit">Upload</button>
    </form>
</body>
</html>