<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOPIC</title>
    <%- include('imports.ejs') %>
</head>
<body>
    <div class="container-fluid">
        <%- include('nav.ejs') %>
        <h1>HERE IS EVERITHING ABOUT THIS TOPIC with ID: <%= topicId%></h1>
    </div>
    
</body>
</html>